# app
APP_PORT=3000
NODE_ENV=development

# database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=shorten_url
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shorten_url?schema=public"
