# Aplicação
APP_PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=shorten_url
DB_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
